body {
    margin: 0;
    padding: 0;
    background-color: #0e2c40;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

.container {
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    margin-top: 24px;
    text-align: center;
    color: #ffffff;
}

.header h1 {
    font-size: 56px;
    margin-bottom: 16px;
}

.actions {
    max-width: 600px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action {
    background-color: #1a4a5a;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.elements {
    max-width: 600px;
    margin: 4px auto;
    color: #ffffff;
}

.item {
    text-align: center;
    margin: 16px 32px;
    background-color: #1a4a5a;
    border-radius: 8px;
    padding: 8px 16px;
}
